body {
	background: #fffcf5;
	color: #666;
}
#topBar {
	background: url(../img/topbg-bursty.png) left top;
	border-bottom: 3px solid #008E9A;
}

h1 {
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
}

.btn-yellow {
	background: #F4B244;
	color: #FFF;
}

.btn-red {
	background: #F03880;
	color: #FFF;
}
.btn-green {
	background: #c24848;
	color: #FFF;
}
.btn-blue {
	background: #246b7f;
	color: #FFF;
}
#start-action.loading {
	background: url(../img/loader.gif) no-repeat center center;
}


#inGame-progress-bar,#prepare-progress-bar {
	background: #16CBB8;
}
#inGame-progress-value,#prepare-progress-value {
	color: #008E9A;
}
#prepare-progress-value {
    color: #FFF;
}
.question-title {
	color: #F03880;
	text-shadow: none;
}

.question-item {
	background: #FFF;
	color: #008E9A;
}
.question-item:last-child {


}
.question-item:first-child {

    
}
.question-item:active,.question-item.selected {
    background:#16CBB8;
	color: #FFF;
}
.question-item.selected .fa-square-o:before {
    color: #fff;
}
#inGame-actionContainer {
	background: #ae2d2d;
	background: url(../img/topbg-bursty.png) repeat-x left top;
	border-top: 3px solid #16CBB8;
}
#inGame-prev,#inGame-next {
    color: #FFF;
}

.result-name {
	color: #333;
	text-shadow: none;
}

.result-quote {
    background-color: #FFF;
    color: #666;
}
.result-score {
    color: #FFF;
    background: #c42d2d url(../img/topbg-bursty.png);
    box-shadow: 0 10px 0px rgba(0,0,0,0.3);
}

.result-quote .caret {
    border-right-color: #FFF;
}
.result-more {
    background-color: #008E9A;
}
.result-name-title {
    color: #008E9A;
}

.result-more-title {
    color: #FFF;
    text-shadow: none;
}

.result-more-name {
    color: #FFF;
}
.result-more-score {
    color: #FFF;
}
.result-more-score small {
    color: #FFF;
}

#topBar-help {
    color: #008E9A;
	background: url(../img/topbadge.png) no-repeat center bottom;
	background-size: 62px 66px;
}

#inGame-progressContainer, #prepare-progressContainer {
    background-color: #F5F0D2;
}
#topBar-text {
    color: #FFF;
}
