/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images, videos, audio and canvas and the bottom of
 * their containers: h5bp.com/i/440
 */

audio,
canvas,
img,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browse Happy prompt
   ========================================================================== */

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html,body {
	width: 100%;
}
img {
	max-width: 100%;
}
a {
	text-decoration: none;
}
body {
	background: url(../img/bodybg.png);
	min-width: 319px;
	color: #FFF;
	font-size: 16px;
	font-family: 'Homenaje','Microsoft Yahei', 'Yahei', Arial, serif; font-weight: 400; 
}
#topBar {
	height: 43px;
	width: 100%;
	position: fixed;
	top:0;
	background: url(../img/topbg.png) left top;
	background-size: 32px 43px;
	z-index: 99;
	border-bottom: 3px solid #5e0000;
}

#topBar-text {
    margin: 10px 10%;
    height: 200px;
    overflow: scroll;
    text-align: center;
    color: #FFF;
}
.container {
	margin: 0 10px;
}
h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 37px;
	margin: 5px 0;
	padding:0;
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
}
#logo {
	width: 24px;
	height:18px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	position: relative;
	top:-3px;
}
#seemeloo {
    display: block;
    color: #FFF;
    margin: 0 auto;
    width: 245px;
    height: 40px;
}
#seemeloo img{
    width: 35px;
    height: 37px;
    display: inline-block;
    float: left;
}
#seemeloo span {
    display: inline-block;
    float: right;
    width: 200px;
    text-align: left;
    font-size: 22px;
}
.main {
    padding-top: 50px;
}

.btn {
	display: inline-block;
	font-size: 24px;
	line-height: 40px;
	height: 40px;
	padding: 5px 20px;
	
	box-shadow: 0 6px 0 rgba(0,0,0,0.3);
	border-radius: 5px;
	cursor: pointer;
	
}
.btn-mini {
    line-height: 30px;
    height: 30px;
    padding: 5px;
}
.btn-yellow {
	background: #e7aa00;
	color: #FFF;
}

.btn-red {
	background: #ae2d2d;
	color: #FFF;
}
.btn-green {
	background: #78ab1b;
	color: #FFF;
}
.btn-blue {
	background: #3471a7;
	color: #FFF;
}
.btn-block {
	display: block;
	text-align: left;
	margin-bottom: 15px;
}
#start-cover {
	text-align: center;
	margin-bottom: 20px;
	
	
}
#start-cover img {
    max-height: 200px;
}
#start-action {
	width: 80%;
	margin: 0 auto;
}
#start-action.loading {
	background: url(../img/loader.gif) no-repeat center center;
	height: 100px;
}

#inGame-progressContainer,#prepare-progressContainer {
	position: relative;
	background: rgba(0,0,0,0.3);
	border-radius: 20px;
	height: 20px;
	padding: 0;
	margin:65px 10px 0;
}
#prepare-progressContainer {
    margin-top: 15px;
}
#inGame-progress-startIcon,#inGame-progress-endIcon,#prepare-progress-endIcon  {
	width: 40px;
	height: 40px;
	position: absolute;
	top:-12px;
}
#prepare-progress-endIcon {
    top: -20px;
}
#inGame-progress-startIcon {
	left: -10px;
}
#inGame-progress-endIcon,#prepare-progress-endIcon {
	right: -10px;
}
#inGame-progress-bar,#inGame-progress-value,#prepare-progress-bar,#prepare-progress-value {
	position: absolute;
}
#inGame-progress-bar,#prepare-progress-bar {
	background: #daa40e;
	width: 0%;
	height: 14px;
	border-radius: 20px;
	top:3px;
	background: -webkit-gradient(linear, 0 0, 0 left, from(#daa40e), to(#ffc832));
	background: -webkit-linear-gradient(left, #daa40e, #ffc832);
	background-image: -webkit-linear-gradient(left, #daa40e, #ffc832);
	background: -moz-linear-gradient(left, #daa40e, #ffc832);
	background: -ms-linear-gradient(left, #daa40e, #ffc832);
	background: -o-linear-gradient(left, #daa40e, #ffc832);
	background: linear-gradient(to right, #daa40e, #ffc832);
}
#inGame-progress-value,#prepare-progress-value {
	color: #daa40e;
	line-height: 20px;
	width:100%;
	text-align: center;
	font-size: 12px;
}
#prepare-progress-value {
    color: #FFF;
}
#inGame-questionContainer {
    margin:10px 5%;
}
.question {
    padding-bottom: 60px;
}
.imageQuestion {
    margin:10px -3%;
}
.question-title {
	color: #FFF;
	text-align: center;
	text-shadow: 1px 1px 0 #000;
	padding: 10px 0 15px;
}
.question-list,.question-item {
	margin: 0;
	padding: 0;
	list-style: none;
}

.questionText-item:last-child {
    box-shadow: 0 10px 0 rgba(0,0,0,0.3);
}
.questionText-item:first-child {
	border-top: 0;
}
.question-item {
	background: #FFF;
	border-top: 2px solid rgba(0,0,0,0.2);
	padding: 15px 10px 15px 35px;
	font-size: 18px;
	line-height: 20px;
	display: block;
	color: #333;
	cursor: pointer;
	text-indent: -22px;
}
.question-item .fa-square-o {
    position: relative;
    left: 7px;
}
.question-item:active .fa-square-o:before {
    content:"\f14a";
}
.question-item:active {
    background:#c12a2a;
	color: #FFF;

}
.question-item.selected{
	background:#c12a2a;
	color: #FFF;

}
.textQuestion-item.selected {
	position: relative;
	left: -5px;    
}
.question-item.selected .fa-square-o:before {
    content:"\f046";
    color: #fff;
}
#inGame-actionContainer {
	height: 50px;
	position: fixed;
	bottom: 0;
	left: 0;
	background: #ae2d2d;
	width: 100%;
	overflow: hidden;
	background: url(../img/topbg.png) repeat-x left top;
	z-index: 99;
	border-top: 3px solid #e55454;
	color: #FFF;
}
#inGame-prev,#inGame-next {
    display: block;
    height: 50px;
    line-height: 50px;
    position: absolute;
    color: #FFF;
}
#inGame-prev {
	left: 5%;
}
#inGame-next {
	right: 5%;
}
#sceneResult {
    padding-top: 60px;
}
.result-name {
	text-align: center;
	font-size: 32px;
	line-height: 40px;
	margin-bottom: 10px;
	font-weight: bold;
	text-shadow: 0 2px 0 rgba(0,0,0,0.3);
}
.result-img {
	position: relative;
	text-align: center;
	width: 200px;
	height: 200px;
	margin: 0 auto;
}
.result-img img{
	width: 200px;
	height: 200px;
	border-radius: 150px;
	box-shadow: 0 10px 0 rgba(0,0,0,0.3);
}
.result-quote {
    background-color: #FFF;
    margin:10px 10%;
    padding: 15px;
    box-shadow: 0 10px 0px rgba(0,0,0,0.3);
    font-size: 20px;
    border-radius: 10px;
    color: #333;
    position: relative;
    text-align: center;
}
.result-score {
    position: absolute;
    bottom: 10px;
    right: -20px;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 35px;
    color: #FFF;
    background: #c42d2d url(../img/topbg.png);
    box-shadow: 0 10px 0px rgba(0,0,0,0.3);
}
.result-score-title {
    font-size: 12px;
    line-height: 20px;
    position: relative;
    top: 10px;
}
.result-score-number {
    font-size: 25px;
    line-height: 40px;
}
.result-quote .caret {
    height: 0;
    width: 0;
    line-height: 0;
    font-size: 1;
    border-width:25px 15px 0 0;
    border-top-color: transparent;
    border-right-color: #FFF;
    border-style: solid;
    position: absolute;
    top:-25px;
    left: 15%;
}
.result-text {
	text-align: left;
	margin: 30px 10%;
	font-size: 14px;
	line-height: 20px;
}
.result-text p {
    margin: 0 0 0.5em;
    padding: 0;
}
.result-name-title {
    text-align: center;
    font-size: 14px;
    color: #8ecaff;
}
.result-action {
    padding: 10px 10% 20px;
}
.result-more {
    margin: 30px 10% 20px;
    height: 100px;
    background-color: rgba(0,0,0,0.3);
    border-radius: 50px 15px 15px 50px;
    position: relative;
    padding-left: 110px;
}
.result-more-title {
    color: #8ecaff;
    font-size: 14px;
    padding-top: 10px;
}
.result-more-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100px;
    height: 100px;
    border-radius: 50px;
}
.result-more-name {
    font-size: 24px;
    line-height: 36px;
}
.result-more-score small {
    color: #8ecaff;
    font-size: 12px;
}
body, html, #main,#stage,.scene {
    height: 100%;
}
#topBar-help {
    background-color: #e7aa00;
    color: #ae2d2d;
    font-weight: bold;
    font-size: 28px;
    width: 62px;
    height: 40px;
    padding-top:13px;
    padding-bottom: 13px;
    line-height: 40px;
    text-align: center;
    position: absolute;
    right: 10px;
	bottom:-10px;
	background: url(../img/topbadge.png) no-repeat center bottom;
	background-size: 62px 66px;
}
#topBar-help a {
    width: 100%;
    height: 100%;
    cursor: pointer;
    display: block;	
}
.topBar-help-caret {
    position: absolute;
    top:40px;
    width: 0px;
    border-width: 0 25px 10px 25px;
    border-color: #e7aa00 #e7aa00 transparent #e7aa00;
    border-style: solid;
    height: 0px;
    line-height: 0px;
    font-size: 1px;
    display: block;
}

#shareOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(0,0,0,0.9);
    z-index: 1000;
}
#shareOverlay-arrow {
    text-align: right;
    padding-right: 40px;
    padding-top: 10px;
}
#shareOverlay-arrow img {
    width: 90px;
    height: 72px;
}
#shareOverlay-text {
    padding: 20px 10% 10px;
    text-align: center;
    font-size: 20px;
    line-height: 32px;
    vertical-align: bottom;
}
#topBar-text .btn{
    text-align: left;
}
.result-quickButton {
    position: fixed;
    width: 100%;
    top:140px;
    left: 0;
}
#quick-share {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 5px 0 0 5px;
    padding-right: 0;
}
#quick-restart {
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0 5px 5px 0;
    padding-left: 0;
}

.hideInWechat {
    text-align: center;
}
.wechat .hideInWechat{
    display: none!important;
}
.notWechat .showInWechat {
    display: none!important;
}
#preloader {
    position: absolute;
    left:-9999px;
    top:-9999px;
}
#preloader img {
    display: block;
}
.fa-seemebear:before {
    content: none;
}
.fa-seemebear {
    background: url(../img/logo.png) center center no-repeat;
    background-size: 100% 90%;
    height: 1.2857142857142858em;
    position: relative;
    top: 5px;
}
#scenePrepare {
    padding-top: 60px;
}
.prepare-loadingText {
    font-size: 12px;
    line-height: 20px;
    text-align: center;
}
#prepare-ad {
    padding-top: 2em;
    margin:0 auto;
    text-align: center;
    width: 180px;
}
.imageQuestion-item {
    width: 45%;
    padding: 5px 1% 10px 1%;
    margin: 0 1% 10px 0;
    text-indent: 0;
    float: left;
    display: inline-block;
    height: 150px;
    text-align: center;
}
.imageQuestion-item img{
    max-width: 100%;
    overflow: hidden;
}
#prepareAd {
    width: 300px;
    position: absolute;
    margin-left: -150px;
    top: 120px;
    left: 50%;
}
#endQuizAd {
    width: 300px;
    text-align: center;
    margin:1em auto;
    padding-bottom: 30px;
}
#sceneStart {
    padding-bottom: 40px;
}
.startWechat {
    text-align: center;
    height: 50px;
    line-height: 50px;
    margin: 0;
    padding: 0;
}
.result-recommend-title {
    text-align: center;
    margin: 0.5em 0 0;
}
.result-recommend {
    margin-top:10px;
    margin-bottom: 10px;
    display: block;
}
.result-recommend .result-more-title {
    font-size: 16px;
    padding-top: 25px;
    padding-right: 10px;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
