body {
	background: #ffc8c8;
	color: #333;
}
#topBar {
	background: url(../img/topbg-pink.png) left top;
	border-bottom: 3px solid #5e0000;
}

h1 {
	font-size: 18px;
	font-weight: normal;
	line-height: 37px;
	margin: 5px 0;
	padding:0;
	color: #FFF;
	text-shadow: 1px 1px 0 #000;
}
.btn {
	box-shadow: 0 6px 0 rgba(0,0,0,0.3);
	
}

.btn-yellow {
	background: #697ba9;
	color: #FFF;
}

.btn-red {
	background: #c5412f;
	color: #FFF;
}
.btn-green {
	background: #78ab1b;
	color: #FFF;
}
.btn-blue {
	background: #af62b2;
	color: #FFF;
}
#start-action.loading {
	background: url(../img/loader.gif) no-repeat center center;
}


#inGame-progress-bar,#prepare-progress-bar {
	background: #daa40e;
	background: -webkit-gradient(linear, 0 0, 0 left, from(#daa40e), to(#ffc832));
	background: -webkit-linear-gradient(left, #daa40e, #ffc832);
	background-image: -webkit-linear-gradient(left, #daa40e, #ffc832);
	background: -moz-linear-gradient(left, #daa40e, #ffc832);
	background: -ms-linear-gradient(left, #daa40e, #ffc832);
	background: -o-linear-gradient(left, #daa40e, #ffc832);
	background: linear-gradient(to right, #daa40e, #ffc832);
}
#inGame-progress-value,#prepare-progress-value {
	color: #daa40e;
}
#prepare-progress-value {
    color: #FFF;
}
.question-title {
	color: #333;
	text-shadow: none;
}

.question-item {
	background: #FFF;
}

.question-item:active {
    background:#c12a2a;
	color: #FFF;

}
.question-item.selected{
	background:#c12a2a;
	color: #FFF;
}
.question-item.selected .fa-square-o:before {
    color: #fff;
}
#inGame-actionContainer {
	background: #ae2d2d;
	background: url(../img/topbg-pink.png) repeat-x left top;
	border-top: 3px solid #e55454;
}
#inGame-prev,#inGame-next {
    color: #FFF;
}

.result-name {
	color: #c12a2a;
	text-shadow: none;
}

.result-quote {
    background-color: #FFF;
    color: #333;
}
.result-score {
    color: #FFF;
    background: #c42d2d url(../img/topbg-pink.png);
    box-shadow: 0 10px 0px rgba(0,0,0,0.3);
}

.result-quote .caret {
    border-right-color: #FFF;
}

.result-name-title {
    color: #dd5d6d;
}

.result-more-title {
    color: #dd5d6d;
}

.result-more-name {
    color: #c12a2a;
}
.result-more {
    background-color: rgba(255,255,255,.3);
}
.result-more-score small {
    color: #dd5d6d;
    
}

#topBar-help {
    background-color: #e7aa00;
    color: #c5412f;
	background: url(../img/topbadge.png) no-repeat center bottom;
	background-size: 62px 66px;
}

