<div id="sceneResult" class="scene container">
    <section class="result-name-title">
        {{{resultGuideWord}}}
    </section>
    <section class="result-name" data-entranceAnimation="flipInX">
        {{resultName}}
    </section>
    <section class="result-img">
        <img src="app/img/{{resultImageUrl}}"  data-entranceAnimation="flipInY" />
    </section>
    
    <section class="result-quote" data-entranceAnimation="flipInY" >
        {{{resultLongDescription}}}
        <div class="caret"></div>
    </section>
    <section class="result-action">
        <a id="result-share" class="btn btn-yellow btn-block"><i class="fa fa-share-square-o"></i> 微信分享</a>
        <a id="result-restart" class="btn btn-red btn-block"><i class="fa fa-refresh"></i> 再测一次</a>

    </section>
    <h3 class="result-recommend-title">你可能也喜欢</h3>
    {{#recommends}}
    <a class="result-more result-recommend" target="_blank" href="{{quizUrl}}">
        <img src="{{quizImgUrl}}"  class="result-more-img" />
        <div class="result-more-title">{{quizName}}</div>
    </a>
    {{/recommends}}
    <section class="result-action">
        <a href="http://quiz.seemeloo.com/" id="result-more" class="btn btn-red btn-block"><i class="fa fa-heart"></i> 更多性格测试</a>

    </section>
    <div id="endQuizAd">
    </div>
    <section class="result-quickButton">
        <a id="quick-share" class="btn btn-mini btn-yellow  btn-block" data-entranceAnimation="bounceInRight"><i class="fa fa-share-square-o fa-fw"></i></a>
        <a id="quick-restart" class="btn btn-mini btn-red  btn-block" data-entranceAnimation="bounceInLeft"><i class="fa fa-undo fa-fw"></i></a>
    </section>
</div><!--sceneResult-->
