<div id="sceneResult" class="scene container">
    <section class="result-name-title">
        你可以保持沉默...<br />但我们很有理由怀疑你是
    </section>
    <section class="result-name">
        {{resultName}} 
    </section>
    <section class="result-img">
        <img src="/app/img/resulttest.png" />
        <section class="result-score">
            <div class="result-score-title">嫌疑指数</div>
            <div class="result-score-number">59<small>%</small></div>
        </section>
    </section>
    
    <section class="result-quote">
        {{resultText}}
        <div class="caret"></div>
    </section>
    <section class="result-text">
        你是一个冷酷得令人发指的顶级刺客，完成任务就像你的本能一样自然。
    </section>
    <section class="result-action">
        <a id="result-share" class="btn btn-yellow btn-block"><i class="fa fa-share-square-o"></i> 分享到微信</a>
        <a id="result-restart" class="btn btn-red btn-block"><i class="fa fa-refresh"></i> 重新测试</a>
    </section>
</div><!--sceneResult-->
