<div id="sceneResult" class="scene container">
    <section class="result-name-title">
        你可以保持沉默...<br />但我们很有理由怀疑你是
    </section>
    <section class="result-name" data-entranceAnimation="flipInX">
        {{resultName}} 
    </section>
    <section class="result-img">
        <img src="/app/img/{{resultImageUrl}}"  data-entranceAnimation="flipInY" />
        <section class="result-score" data-entranceAnimation="flipInY">
            <div class="result-score-title">嫌疑指数</div>
            <div class="result-score-number">{{score}}<small>%</small></div>
        </section>
    </section>
    
    <section class="result-quote" data-entranceAnimation="flipInY" >
        {{{resultShortDescription}}}
        <div class="caret"></div>
    </section>
    <section class="result-more">
        <img src="/app/img/{{secondResultImageUrl}}"  class="result-more-img" />
        <div class="result-more-title">其他嫌疑身份</div>
        <div class="result-more-name">{{secondResultName}}</div>
        <div class="result-more-score"><small>嫌疑指数：</small>{{secondScore}}<small>%</small></div>
    </section>
    <section class="result-text">
        {{{resultLongDescription}}}
    </section>
    <section class="result-action">
        <a id="result-share" class="btn btn-yellow btn-block"><i class="fa fa-share-square-o"></i> 分享到微信</a>
        <a id="result-more" class="btn btn-green btn-block"><i class="fa fa-github-alt"></i> 更多性格测试</a>
        <a id="result-restart" class="btn btn-red btn-block"><i class="fa fa-undo"></i> 重新测试</a>
        
    </section>
    <section class="result-quickButton">
        <a id="quick-share" class="btn btn-mini btn-yellow  btn-block" data-entranceAnimation="bounceInRight"><i class="fa fa-share-square-o fa-fw"></i></a>
        <a id="quick-restart" class="btn btn-mini btn-red  btn-block" data-entranceAnimation="bounceInLeft"><i class="fa fa-undo fa-fw"></i></a>
    </section>
</div><!--sceneResult-->
