<div id="sceneInGame" class="scene hidden" data-exitAnimation="bounceOutLeft" data-entranceAnimation="slideInRight">

    <section  id="inGame-progressContainer">
        <div id="inGame-progress-bar">
        </div>
        <div id="inGame-progress-value" data-entranceAnimation="flipInX">
        0 / 0
        </div>
        <div id="inGame-progress-startIcon" data-entranceAnimation="bounceInLeft">
        	<img src="app/img/progress-left.png" />
        </div>
        <div id="inGame-progress-endIcon" data-entranceAnimation="bounceInRight" data-exitAnimation="rotateOutUpRight">
        	<img src="app/img/progress-right.png" />
        </div>
    </section><!--inGame-progressContainer-->    
    
    <section id="inGame-questionContainer">
    </section><!--inGame-questionContainer-->
        		
    <section id="inGame-actionContainer" data-entranceAnimation="bounceInUp" >
        <a  id="inGame-prev" >上一题</a>
        <a  id="inGame-next" >下一题</a>
    </section><!--inGame-actionContainer-->

    <section  id="in-quiz-ad">
    </section>
    		
</div><!--sceneInGame-->