<div id="scenePrepare" class="scene container">
    <section  id="prepare-progressContainer">
        <div id="prepare-progress-bar">
        </div>
        <div id="prepare-progress-value" >
            {{preparingText}}
        </div>
        <div id="prepare-progress-endIcon">
        	<img src="app/img/spiderman.png" />
        </div>
    </section><!--prepare-progressContainer-->

    <section  id="prepare-ad">
        <img src="app/img/ad.png" />
    </section>

</div><!--scenePreparing-->
