<div id="sceneStart" class="scene container">
    <section id="start-cover" class="main" data-entranceAnimation="flipInY" >
        <img src="app/img/cover.png" />
    </section>
        
    <section id="start-action" class="side loading">
        <div class="showInWechat">
            <a  id="start-startButton" class="btn btn-red btn-block"><i class="fa fa-star fa-fw"></i> 开始</a>
            <a  id="start-shareButton" class="btn btn-yellow btn-block"><i class="fa fa-share-square-o"></i> 微信分享</a>
        </div>
        <div class="hideInWechat">
                <p>请用微信扫描下面的二维码 O(∩_∩)O<br />西米测试微信：Seemeloo</p>
                <img src="app/img/qrcode.png" />
        </div>
    </section>
    

</div><!--sceneStart-->
<section id="inGame-actionContainer">
    <p class="startWechat">「西米测试」微信号：Seemeloo</p>
</section><!--inGame-actionContainer-->